::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}  
::-webkit-scrollbar-track {
    background: #cecaca; 
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@media (prefers-color-scheme: light) {
    * { background: #212121 !important; color: white !important; }
    td div:hover { background-color: #323539; }
    #time { color-scheme: dark; }
    .modal-content { border: 1px solid white; }
    input[type="time"] { color-scheme: dark; }
}
  
@media (prefers-color-scheme: dark) {
    * { background: white !important; color: black !important; }
    td div:hover { background-color: #e5e6e7; }
    .modal-content { border: 1px solid black; }
    input[type="time"] { color-scheme: light; }
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Regular.woff2') format('woff2'),
        url('RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    font-family: "Roboto Mono", monospace;
}
th {
    position: sticky;
    top: 26px; 
    z-index: 1; 
    text-align: center !important;
}
td {
    text-align: center;
    display: table-cell;
}
td div {
    overflow-x: auto;
    width: 100%;
    height: inherit;
    background-color: inherit;
    white-space: nowrap;
}
textarea {
    resize: none;
    white-space: nowrap;
}
#title-bar {
    border-bottom: 1px solid;
    font-size: 15px;
    height: 26px;
}
#table-box {
    padding: 26px 0 0 0;
    height: calc(100% - 26px - 35px);
    bottom: 35px;
}
#table-box .w-15 {max-width: 5vw !important; width: 5vw !important;}
#table-box .w-50 {max-width: 46vw !important; width: 45vw !important;}
#table-box .w-25 {max-width: 17vw !important; width: 16vw !important;}
#table {
    table-layout: fixed;
    width: 100vw;
}
#setting {
    margin-top: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 3px;
    font-size: 16px;
    height: 35px;
}
#add { cursor: pointer }
#edit { cursor: pointer }
#remove { cursor: pointer }
#theme { cursor: pointer }
#edit-add { cursor: pointer }
#edit-remove { cursor: pointer }
#edit-theme { cursor: pointer }
.modal-backdrop {
    opacity: 0 !important;
}
#cont {
    resize: none;
    width: 95%;
    height: 40px;
    overflow-y: hidden;
    overflow-x: auto;
}
.inp-day {
    width: 95%;
    resize: none;
    overflow-y: hidden;
    overflow-x: auto;
}
#edit-setting {
    margin-top: 5px;
    border: 1px solid;
    padding-top: 3px;
    font-size: 16px;
    height: 35px;
    position: sticky;
    bottom: 0%; 
    z-index: 1; 
}