@media (prefers-color-scheme: dark) {
    * { background: black; color: white; }
}
  
@media (prefers-color-scheme: light) {
    * { background: white; color: black; }
}
#status {
    margin-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 26px;
}
#table {
    height: calc(100% - 26px);
}